site_name: openEHR Fellowship
site_url: https://ianbopenehrfellowship.com
use_directory_urls: true
theme:
  name: material
  font:
    text: Roboto
    code: Red Hat Mono
  logo: assets/openEHRFellowshipLogo.png
  favicon: assets/favicon.ico
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange

nav:
  - About the fellowship: index.md
  - Project proforma: intro.md
  - Reflective Entry 1: reflective-writing.md
  - Reflective Entry 2: reflective-entry-2.md

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences
  - md_in_html
